* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  color: #2b1706;
  background-image: url(../assets/Knossos-palace-at-Crete.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* Intro & Instructions CSS */

#intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
  background-image: url(../assets/blank-scroll-removebg-preview.png);
  background-size: 440px 755px;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: rgba(209, 200, 166, 0.6); */
  max-width: 400px;
  max-height: 688px;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-top: 90px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
}

div.instructions p {
  font-size: 22px;
  line-height: 1.2;
  margin: 22px 20px 22px 25px;

}

button {
  background-color: #D1C8A6;
  color: #46270B;
  border: 3px solid #46270B;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Julius Sans One', sans-serif;
  padding: 10px 50px;
  margin-bottom: 22px;
  cursor: pointer;
}

#intro-wrapper article {
  font-size: 16px;
  margin: 0px 18px 85px 35px;
  cursor: pointer; 
}

#intro-wrapper article:hover {
  text-decoration: underline;
}


/* Game Wrapper (Lives & Score + Grid) CSS */

#game-wrapper {
  margin: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: rgba(209, 200, 166, 0.6); */

}

/*  Lives & Score CSS */

#progress-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(209, 200, 166, 0.6);
  width: 560px;
}

#progress-container p {
  font-size: 22px;
}


/* Grid / Maze CSS */

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 560px;
  /* display: none; */
}

.grid div{
  background: #D1C8A6;
  /* border-radius: 5%; */
  height: 20px;
  width: 20px;
}

div.maze {
  background: #46270B;
}

div.tunnelSides {
  background: transparent;
  border: none;
}

/* Dots CSS */

div.dots {
  background-image: url(../assets/Greek_Gold_Coin-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Energiser CSS */

div.energiser {
  background-image: url(../assets/ariadne.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hero CSS */

div.hero {
  background-image: url(../assets/theseus.jpeg) ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* Monster CSS */

div.monster {
  background-image: url(../assets/minotaur-removebg-preview.png) ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.frightened div.monster {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 50%;
  }
}

/* End of Game*/

#gameOver-wrapper, #gameWon-wrapper  {
  display: none;
  border: solid 3px #2b1706;
  background-color: rgba(70, 39, 11, 0.8);
  color:#D1C8A6;
  font-size: 30px;
  text-align: center;
  width: 400px;
  border-radius: 10px;
  margin: 20px 0px;
}

/* Myth Article */

#myth-wrapper {
  display: none;
  border: solid 4px #2c3438;
  border-radius: 10px;
  background-color: rgba(107, 170, 212, 0.99);

  color:#2c3438; 
  position: absolute;
  z-index: 10;
  max-width: 985px;
  height: 400px;
  padding: 0 15px;

}



#storyHeader {
  display: flex;
  justify-content: space-between;
}

#storyHeader h3 {
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.storyText {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}


.closeButton {
  border: solid 2px rgba(44, 52, 56, 0.7);
  border-radius: 1px;
  /* padding: 15px; */
  margin: 10px 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.closeButton p {
  text-align: center;
  color: rgba(44, 52, 56, 0.9);
  padding: 5px 10px;
  margin: 0;
  font-size: 20px;
}
